
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
  </div>

  <div class="salud"> <center><p>Salud!</p>
    <p class="lead">Express Your Taste!</p></center>
  </div>



    </div>
    <div class="container">
            <div class="row">
              <a href="./alldrinks" class="col-xs-6 col-sm-6 col-lg-6">
               <center>Drinks</center>
                <div class="drink">
                  
                </div>
              </a>
              <a href="./allsnacks" class="col-xs-6 col-sm-6 col-lg-6">
                <center>Snacks</center>
                <div class="snack">
                 
                </div>
              </a>
            </div>
          </div>

        



 <div class="footer">
    <a href="./form" class="col-xs-6 col-sm-6 col-lg-6">
    <button type="button" class="btn btn-info">We Want to Hear From You!</button>
   
</div>

</body>
</html>

